<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" hide-gt-md aria-label="Menu" ng-click="teamCtrl.nav()">
			<md-icon md-svg-src="./icons/menu.svg"></md-icon>
		</md-button>
		<h1>Teams</h1>
		<span flex></span>
		<md-icon md-svg-src="./icons/account_circle.svg" ng-show="teamCtrl.auth.$getAuth()"></md-icon>
	</div>
</md-toolbar>
<md-content ng-cloak layout="column" layout-padding>
	
	<div flex layout="row" layout-align="end end" layout-padding>
		<md-button class="md-primary md-raised" ng-click="teamCtrl.goNewTeam()">New</md-button>
		<!-- <md-button class="md-warn md-raised" ng-click="teamCtrl.goEditTeam()">Edit</md-button> -->
	</div>


	<div flex layout="column">
		<md-input-container layout-padding>
			<label>Team Name</label>
			<input type="text" ng-model="teamCtrl.query.name">
		</md-input-container>
		<md-list ng-show="teamCtrl.query.name.length > 0">
			<md-list-item ng-repeat="tt in teamCtrl.existingTeams | filter: teamCtrl.query" ng-click="teamCtrl.goEditTeam(tt.$id)">
				<div class="md-list-item-text">
					<p>{{tt.name}}</p>
				</div>
				<md-divider ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>
	</div>
</md-content>