<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" hide-gt-md aria-label="Menu" ng-click="sportIdCtrl.nav()">
			<md-icon md-svg-src="./icons/menu.svg"></md-icon>
		</md-button>
		<h1>{{sportIdCtrl.sport.name}} <span ng-hide="sportIdCtrl.sport.league == 'N'">{{sportIdCtrl.sport.league}} League</span></h1>
		<span flex></span>
		<md-icon md-svg-src="./icons/account_circle.svg" ng-show="sportIdCtrl.isLoggedIn()"></md-icon>
	</div>
</md-toolbar>
<md-content>
	<md-grid-list
		md-cols="2" md-row-height="1:1" md-gutter="0px">
		<md-grid-tile
			md-rowspan="1" md-colspan="1"
			ng-style="{background: gm.bg}"
			ng-repeat="gm in sportIdCtrl.gridMenu" ng-click="gm.go()" md-ink-ripple ng-disabled="gm.disable">
			<md-grid-tile-footer><h3>{{gm.label}}</h3></md-grid-tile-footer>
		</md-grid-tile>
	</md-grid-list>
</md-content>