<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Register</h2>
	</div>
</md-toolbar>
<md-content>
	<md-progress-linear md-mode="indeterminate" ng-hide="regiCtrl.loaded"></md-progress-linear>
	<form name="registerForm" layout="column" ng-show="regiCtrl.loaded">
		<md-autocomplete flex required
			md-input-name="nameField"
			md-no-cache="regiCtrl.noCache"
			md-selected-item="regiCtrl.form.name"
			md-search-text="regiCtrl.searchText"
			md-items="p in regiCtrl.querySearch(regiCtrl.searchText)"
			md-item-text="p.name"
			md-floating-label="Name"
			md-menu-class="autocomplete-custom-template">
			<md-item-template>
				<span class="item-title">
					<span md-highlight-text="regiCtrl.searchText">{{p.name}}</span>
				</span>
				<span class="item-metadata">
					<span class="item-metastat"><i> - {{regiCtrl.getHouse(p.house, 'name')}}</i></span>
				</span>
			</md-item-template>
			<div ng-messages="registerForm.nameField.$error">
				<div ng-message="required">This field is required</div>
			</div>
		</md-autocomplete>
		<md-input-container>
			<label>Position</label>
			<md-select ng-model="regiCtrl.form.position">
				<md-option value="adm">Admin</md-option>
				<md-option value="adv">Advisor</md-option>
				<md-option value="dir">Director</md-option>
				<md-option value="boa">Board</md-option>
				<md-option value="rep">Representative</md-option>
			</md-select>
		</md-input-container>
		<md-input-container>
			<label>Email</label>
			<input type="email" name="email" required ng-model="regiCtrl.form.email">
			<div ng-messages="registerForm.email.$error" ng-pattern="/^.+@.+\..+$/">
				<div ng-message="required">Email Is Required</div>
				<div ng-message="email">Email must look like an email address</div>
			</div>
		</md-input-container>
		<md-input-container>
			<label>Password</label>
			<input type="password" name="password" required ng-model="regiCtrl.form.password" minlength="6" maxlength="20">
			<div ng-messages="registerForm.password.$error">
				<div ng-message="required">This field is required</div>
				<div ng-message-exp="['minlength', 'maxlength']">Password must be 6 to 20 characters</div>
			</div>
		</md-input-container>
		<md-input-container>
			<label>Confirm Password</label>
			<input type="password" name="cPassword" required ng-model="regiCtrl.form.cPassword" minlength="6" maxlength="20">
			<div ng-messages="registerForm.cPassword.$error">
				<div ng-message="required">This field is required</div>
				<div ng-message-exp="['minlength', 'maxlength']">Password must be 6 to 20 characters</div>
			</div>
		</md-input-container>
		<md-button ng-click="regiCtrl.register()">Register</md-button>
	</form>
</md-content>