<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
	<md-toolbar class="md-hue-3">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button md-hue-3" aria-label="Home" ng-click="navCtrl.go('home')">
				<md-icon md-svg-src="./icons/home.svg"></md-icon>
			</md-button>
			<h2>Navigation</h2>
			<span flex></span>
			<md-button class="md-icon-button md-hue-3" aria-label="close" hide-gt-md ng-click="navCtrl.close()">
				<md-icon md-svg-src="./icons/close.svg"></md-icon>
			</md-button>			
		</div>
	</md-toolbar>
	<md-content layout-padding>
		
	</md-content>
</md-sidenav>